body{

    display: flex;
   background-color: #225A76;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centralizar verticalmente */
    margin: 0; /* Remove a margem padrão do corpo */
    
}
#container{
    font-family: 'Rancho', cursive;
    font-size: 28px;
    border-radius: 10px;
    border-style:dashed;
    margin: 0;
    height: 500px;
    width: 500px;
    background-color: #A7E7F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#botoes{
    margin: 0;
    margin-top: 0px;
    width: 250px;
    /* background-color: darkcyan; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content:space-between;

}
.bts{
    border-radius: 10px;
    width:100px;
    margin: 25px;
}
