body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-family: "Arial";
}
.divHistoria{
    margin: 190px;
    
    display: flex;
}
.divHistoriaTexto{
    margin-right: 30px;
    font-size: 19px;
}

.imgLogo{
    margin-left: 50px;
}
.imgHome{
    margin: 80px;
    margin-left: 275px;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #212121;
}
.pFooter{
    margin-left: 700px;
}
.label-Ranking{
    margin-top: 50px;
    text-align: center;
}
.slider{
    margin: 50px auto;
    width: 1280px;
    height: 665px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 665px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.manual-navigation{
    position: absolute;
    margin-top: -40px;
    width: 1280px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #ffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 10px;
}
.manual-btn:hover{
    background-color:#FFF;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}

.navigation-auto div{
    border: 2px solid #20a7ff;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 1280px;
    margin-top: 620px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-top: 5px;
    margin-right: 10px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}

.ranking-car{
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}
.ranking-car1{
    margin-top: 100px;
}